.sidebar {
  border-right: 1px solid var(--twitter-background);
  flex: 0.3;
  position: inherit;
  width: 100%; /* Take up full width */
  margin-top: 20px;
  padding-right: 120px;
  overflow-y: scroll;
  /* display: none; Hide sidebar by default */
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar.sidebar-visible {
  display: block; /* Show sidebar when sidebar-visible class is present */
}


.sidebar__twitterIcon {
  color: var(--twitter-color);
  font-size: 35px !important;
  margin-left: 20px;
  margin-bottom: 10px;
}

.sidebar__tweet {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  margin-top: 10px !important;
}

.sidebar>.Profile__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 10px;
  border-radius: 9999px;
  padding: 10px;
}

.user__info {
  margin-left: 10px;
}

.subUser__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}


.hamburger-icon {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-right: 10px;
  cursor: pointer;
  display: none;
}


.user__info>h4 {
  font-size: 14px;
}

.user__info>h5 {
  opacity: 50%;
}

@media screen and (max-width:768px) {
 
  .sidebar {
    display:none;
  }
  .hamburger-icon {
    display: block;
  }
}

