.subscriptions-container {
  flex: 0.4;
  border-right: 1px solid var(--twitter-background);
  width: 100vw;
  padding: 0 180px;
  height: 100vh;
  /* display: flex; */
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .subscriptions-container {
    padding: 0 80px; /* Adjust padding for smaller screens */
  }
}

@media screen and (max-width: 768px) {
  .subscriptions-container {
    padding: 0 20px; /* Adjust padding for even smaller screens */
  }
}
  
  .plan-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s;
    width: 300px; /* Set a fixed width for larger screens */
  }
  
  .plan-card:hover {
    border-color: #007bff;
  }
  
  .selected {
    border-color: #007bff;
    box-shadow: 0 0 10px 0 rgba(0, 123, 255, 0.5);
  }
  
  .selected-plan-info {
    margin-top: 20px;
  }
  
  /* Responsive Styles */
  
  @media (max-width: 768px) {
    .plan-card {
      width: 80%; /* Use a percentage width for medium-sized screens */
    }
  }
  
  @media (max-width: 480px) {
    .plan-card {
      width: 90%; /* Use a higher percentage width for smaller screens */
    }
  }
  